:root {
  --slate-100: #f1f5f9;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-900: #0f172a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: var(--slate-900);
  color: var(--slate-500);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-weight: 300;
}

a:link, a:visited {
  color: var(--slate-500);
  transition: all .2s;
}

a:hover {
  color: var(--slate-100);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;

  height: 100vh;
}

.social-box {
  list-style-type: none;
  margin: 25px 0;

  display: flex;
  gap: 1.5em;
}

.social-box i {
  font-size: 2.5em;
}