* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background: #1e272e;
  color: #d2dae2;
}

.container {
  display: flex;
  padding: 10px;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;

  @media (max-width: 800px) {
    flex-direction: column;
  }
}

// info and social media

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-top: 1px solid #d2dae2;
  border-left: 1px solid #d2dae2;
  border-bottom: 1px solid #d2dae2;
  padding: 30px;

  @media (max-width: 800px) {
    flex-direction: column;
    border-top: 1px solid #d2dae2;
    border-left: 1px solid #d2dae2;
    border-right: 1px solid #d2dae2;
  }
}

h1 {
  text-align: center;
}

.job-title {
  margin: 10px 0;

  span {
    margin: 0 10px;
  }
}

.social-box {
  display: flex;
  justify-content: center;

  margin: 0 auto;
  margin-top: 50px;

  height: 100px;
  width: 100%;

  list-style-type: none;

  li {
    margin: 0 10px;
    font-size: 40px;

    a:link, a:visited, a:active {
      color: #d2dae2;
    }

    a:hover {
      color: #808e9b;
      transition: color .2s;
    }
  }
}

// latest works

.latest-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #d2dae2;
  padding: 30px;

  @media (max-width: 800px) {
    height: 100%;
  }
}